.carousel {
  width: 500px;
  height: 280px;
  white-space: nowrap;
  overflow: hidden;
  /* zoom: 0.5; */
  margin: auto;
  outline: solid 1px blue;
}

.carousel > img {
  width: 100%;
  display: inline-block;
  /* transition: ease 1s; */
}

* {
  background-color: lightblue;
}