.tab-panel {
  /* width: 300px; */
  border: solid 1px lightgreen;
}
.tab-panel > h1 {
  /* background-color: lightgreen; */
  border-bottom: solid 1px lightgreen;
  margin: 0;
  height: 1.3em;
  padding: 8px 16px;
  overflow-x: auto;
}
.tab-panel > h1 span {
  padding: 0 16px;
}
.tab-panel > h1 span.selected {
  color: lightgreen;
}